.topper{
	background: #FBD3E9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size:cover;
	height:500px;
	border:1px solid black;
	text-align:center;

	}
.para{
		margin:100px 400px ;
		text-align:center;
		font-size:100px;
		display:flex;
}