<% include partials/header %>


	<div class="topper">
		<div class="para">
			<p>CH</p>
			<img src="https://www.youchoose.org.au/Content/images/you-choose.png" width="130" height="130"/>
			<p>SE</p>
		</div>
			<p id="dil">Remove your Dilemma!!!!!!!</p>
	</div>



<div class="container">
<div class="row" style="width:30%;margin:50px auto">
	<form action="/search" method="get">
		<div class="form-group">
			<input type="text" placeholder="firstchoice" name="firstchoice" style="width:100%">
		</div>
		<div class="form-group">
			<input type="text" placeholder="secondchoice" name="secondchoice" style="width:100%">
		</div>
		<div class="form-group ">
			<button class="btn btn-lg btn-primary btn-block" > Submit</button>
		</div>
	</form>
</div>
</div>




<% include partials/footer %>